---
import { FeaturedImageSlide } from '@/libs/FeaturedImage';
import SectionBody from '@/libs/SectionBody';
import PrimaryButton from '@/libs/buttons/PrimaryButton';
import Header1 from '@/libs/headers/Header1';
import Header2 from '@/libs/headers/Header2';
import Header3 from '@/libs/headers/Header3';
import Paragraph from '@/libs/headers/Paragraph';

import type { Image } from '@/libs/stores/init';

type Props = {
  featuredImages: Image[];
};

const { featuredImages } = Astro.props;
---

<section class="mt-32" id="about">
  <Header1 title="ABOUT" titleJa="この企画について" className="mb-16" client:load />

  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/2">
      <FeaturedImageSlide images={featuredImages} client:load />
    </div>

    <div class="mt-20 md:mt-10 w-full md:w-1/2 flex flex-col items-center">
      <SectionBody className="half-container-max-width" client:load>
        <Header2 title="アニメ制作会社&#8203;" className="mb-10" />

        <Paragraph className="mb-12 w-full">
          1テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </Paragraph>

        <div class="mb-12 border-l-2 border-primary">
          <Header3 title="npm run devnpm run dev&#8203;npm run devnpm run dev&#8203;npm run dev！" className="mb-2" />
          <Paragraph className="pl-6 w-full">
           平山元気テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </Paragraph>
        </div>

        <div class="mb-12 border-l-2 border-primary">
          <Header3 title="googleアナリティクス&#8203;大丈夫！" className="mb-2" />
          <Paragraph className="pl-6 w-full">
            3テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </Paragraph>
        </div>

        <Paragraph className="w-full">
          4テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキストテキスト
          テキスト

        <PrimaryButton
          label="作品を&#8203;チェック！"
          href="#lets-join"
          className="mt-10"
        />
      </SectionBody>
    </div>
  </div>
</section>
