---
import SectionBody from '@/libs/SectionBody';
import PrimaryButton from '@/libs/buttons/PrimaryButton';
import Header1 from '@/libs/headers/Header1';
import Header2 from '@/libs/headers/Header2';
import Paragraph from '@/libs/headers/Paragraph';

const xUrl = import.meta.env.PUBLIC_X_URL;
---

<section class="mt-96 md:mt-72" id="contact">
  <Header1 title="CONTACT" titleJa="お問い合わせ" className="mb-16" right client:load />

  <SectionBody client:load>
    <Header2 title="公式 X の DM にて&#8203;お問い合わせ&#8203;ください。" className="mb-8 text-center" />

    <PrimaryButton
      label="公式Xに&#8203;移動する"
      href={xUrl}
      newTab
    />

    <Paragraph className="mt-4 text-center">
      内容を確認し、担当者より返信いたします。
    </Paragraph>
    </SectionBody>
  </div>
</section>
