---
import type { Assets } from '@/libs/stores/assets';
type Props = {
  assets: Assets;
};

const { assets } = Astro.props;
---

<footer class="mt-64 px-8 md:px-16 pt-12 pb-8 text-secondary bg-secondary-background">
  <div class="mb-4 w-64">
    <img
      src={assets.logos.black.url}
      alt="バーチャルケモナイト ロゴ"
      class="w-full select-none pointer-events-none"
      draggable="false"
    />
  </div>

  <small>
    © 2025 MITUZOU ON THE FRONT LINE
  </small>
</footer>
