---
import GuestIntroductions from '@/libs/GuestIntroduction';
import SpecialGuestIntroductions from '@/libs/SpecialGuestIntroduction';
import Header1 from '@/libs/headers/Header1';
import type { Assets } from '@/libs/stores/assets';

import type { Person } from '@/libs/stores/people';

type Props = {
  specialGuests: Person[];
  guests: Person[];
  assets: Assets;
};

const { specialGuests, guests, assets } = Astro.props;
---

<section class="mt-96 md:mt-72 flex flex-col items-center" id="guests">
  <Header1 title="GUESTS" titleJa="ゲスト" className="mb-16" right client:load />

  <div class="container-max-width">
    <SpecialGuestIntroductions guests={specialGuests} assets={assets} client:load />
    <GuestIntroductions guests={guests} assets={assets} client:load />
  </div>
</section>
