---
import OrganizerIntroductions from '@/libs/OrganizerIntroduction';
import StaffIntroductions from '@/libs/StaffIntroduction';
import Header1 from '@/libs/headers/Header1';
import type { Assets } from '@/libs/stores/assets';

import type { Person } from '@/libs/stores/people';

type Props = {
  organizers: Person[];
  staffs: Person[];
  assets: Assets;
};

const { organizers, staffs, assets } = Astro.props;
---

<section class="mt-96 md:mt-72 flex flex-col items-center" id="staffs">
  <Header1 title="STAFFS" titleJa="スタッフ" className="mb-16" client:load />

  <div class="container-max-width">
    <OrganizerIntroductions organizers={organizers} assets={assets} client:load />
    <StaffIntroductions staffs={staffs} assets={assets} client:load />
  </div>
</section>
